table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 4px solid;
    text-align: center;
    padding: 10px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }